:root{
    --primary-text-kolor:#212121 ;
    --second-text-kolor:#757575 ;

}

body {
  font-family: "Roboto";
  background: #ffffff;
}
.nav-logo{
    font-family:"Raleway";
    color:#000000;
    /* color: #2196F3: */

    font-size:26px ;
    font-weight: bold;
    text-decoration: none;
}
.nav-list {
  /* color: #212121; */
  color: var(--primary-text-kolor);
  font-size: 14px;
  font-weight:500 ;
  text-decoration: none;
}
.nav-list:hover,
.nav-list:focus {
  color: #2196f3;
}
.mailto,
.tel {
  /* color: #757575 */
  color: var(--second-text-kolor);
}
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
  color: #2196f3;
}


.button-list,
.list-type {
  list-style: none;
}

.button-one {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  background: #F5F4FA;
  /* color: #212121; */
  color: var(--primary-text-kolor);
  border: 0px;
}

.button-one:hover,
.button-one:focus {
  border: 0ch;
  background: #2196f3;
  color: #ffffff;
}

.Hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;

  text-transform: uppercase;
}
.hero-button {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.hero-button:hover,
.hero-button:focus {
  color: yellow;
}
.title-benefits {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}
.benefits-paragraf{
    /* color:#757575 ; */
    color: var(--second-text-kolor);
    font-size:14px;
  font-weight: 400;
}
.directions-title{
    /* color: #212121; */
    color: var(--primary-text-kolor);
    font-size:36px ;
    font-weight:bold ;

}
.our-teams{
    background:#F5F4FA ;
}
.our-teams-iist{
    background: #FFFFFF;
    width: 270px;
    height: 368px;

}
.our-teams-title{
    color:#212121 ;
    font-size:36px ;
    font-weight:bold ;

}
.our-teams-person{
/* color:#212121 ; */
color: var(--primary-text-kolor);
font-size:16px ;
font-weight:500;

}
.our-teams-position{
    /* color:#757575 ; */
    color: var(--second-text-kolor);
    font-size:16 ;
    font-weight:400;  
}
.footer{
    background: #2F303A;
}
.footer-logo{
    font-family:"Raleway";
    color:#FFFFFF ;
    /* color: #2196F3: */

    font-size:26px ;
    font-weight: bold;
    text-decoration: none;
}
.footer-item-one,
.footer-item-two{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;

}
.footer-item-two{
    /* opacity: 60%; */
    color: rgba(100%,100%,100%,60%);   

}
/* galery */

.galery-blok{
    width: 370px;
    height:404px ;
}
.galery-images{
    width: 370px;
    height:294px   
}
.galery-title{
/* color: #212121; */
color: var(--primary-text-kolor);
font-size:18px ;
font-weight:bold ;

}
.galery-Paragraf{
/* color: #757575; */
color: var(--second-text-kolor);
font-size:16px ;
font-weight:normal;

}

