:root {
  --primary-text-kolor: #212121;
  --second-text-kolor: #757575;
  --color-current: #2196f3;

  /* (24/16) */
  --lin-heit-one:1.5;

  /* (24/14) */
  --lin-heit-two:1.7;

  /* 36/18 */
  --lin-heit-three:2.0;

  /* 30/16 */
  --lin-heit-four:1.9;

  /* 26/16 */
  --lin-heit-five:1.6;
  /* 60/44 */
  --lin-heit-six:1.36;
  /* 16/14=1.14 */
  --lin-heit-seven:1.14;
}

body {
  font-family: "Roboto" ,sans-serif;
  background: #ffffff;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  /* color: #2196F3: */

  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.nav-logo-left {
  font-family: 'Raleway', sans-serif;
  /* color:#000000; */
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav-logo-reit {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  /* color: #2196F3; */

  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-logo-reitfooter {
  
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  /* color: #2196F3; */

  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-list.current {
  color: var(--color-current);
}
.nav-list {
  /* color: #212121; */
  color: var(--primary-text-kolor);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: var(--lin-heit-seven);
  letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus {
  /* color: #2196f3; */
  color: var(--color-current);
}
.mailto,
.tel {
  /* color: #757575 */
  color: var(--second-text-kolor);
  text-decoration:none ;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
  /* color: #2196f3; */
  color: var(--color-current);
}

.button-list,
.list-type {
  list-style: none;
}

.button-one {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #f5f4fa;
  /* color: #212121; */
  color: var(--primary-text-kolor);
  border: 0px;
  cursor: pointer;
  line-height: var(--lin-heit-five);

}

.button-one:hover,
.button-one:focus {
  border: 0ch;
  /* background: #2196f3; */
  background: var(--color-current);
  color: #ffffff;
}

.Hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height:var(--lin-heit-six) ;
  letter-spacing:0.06em ;
  text-transform: uppercase;
}
.hero-button {
  /* background: #2196f3; */
  font-family: "Roboto" ,sans-serif;
  background: var(--color-current);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  line-height:var( --lin-heit-four) ;
  letter-spacing:0.06em ;
}
.hero-button:hover,
.hero-button:focus {
  /* color: yellow; */
  background-color:#188ECB ;

}
.title-benefits {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-paragraf {
  /* color:#757575 ; */
  color: var(--second-text-kolor);
  font-weight: 400;
  font-size: 14px;
  line-height: var(--lin-heit-two);
  letter-spacing: 0.03em;
}
.directions-title {
  /* color: #212121; */
  color: var(--primary-text-kolor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.our-teams {
  background: #f5f4fa;
}
.our-teams-iist {
  background: #ffffff;
  width: 270px;
  height: 368px;
}
.our-teams-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}
.our-teams-person {
  /* color:#212121 ; */
  color: var(--primary-text-kolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-teams-position {
  /* color:#757575 ; */
  color: var(--second-text-kolor);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: "Raleway, sans-serif";
  color: #ffffff;
  /* color: #2196F3: */

  font-size: 26px;
  font-weight: 700;
  text-decoration: none;

}
.footer-item-one,
.footer-item-two {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  line-height: var(--lin-heit-two);
  letter-spacing: 0.03em;
}
.footer-item-two {
  /* opacity: 60%; */
  color: rgba(100%, 100%, 100%, 60%);
}
.footer-item-one:hover,
.footer-item-two:hover,
.footer-item-one:focus,
.footer-item-two:focus
{
  color: var(--color-current);

}



/* galery */

.visually-hidden { position: absolute; 
  white-space: nowrap; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
  border: 0; 
  padding: 0; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%); 
  margin: -1px; }"

.galery-blok {
  width: 370px;
  height: 404px;
}
.galery-images {
  width: 370px;
  height: 294px;
}
.galery-title {
  /* color: #212121; */
  color: var(--primary-text-kolor);
  font-size: 18px;
  font-weight: 700;
  line-height: var(--lin-heit-three) ;
  letter-spacing: 0.06em;
}
.galery-Paragraf {
  /* color: #757575; */
  color: var(--second-text-kolor);
  font-size: 16px;
  font-weight: normal;
  line-height:var(--lin-heit-four) ;
  letter-spacing: 0.03em;
}
